@charset "utf-8";
body {
    background-color: #781;
    margin-top: 0px;
}
#container {
    background-image: url(images/com_background.jpg);
    width: 800px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#intro {
    position: absolute;
    background-color: #015987;
    left: 164px;
    top: 126px;
    width: 503px;
    height: 98px;
    color: #FFFFFF;
    font-family: "华文楷体";
    padding: 10px;
    text-indent: 2em;
    line-height: 1.5em;
    font-size: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px #000000;
    box-shadow: 10px 10px 10px #000000;
    text-align: justify;
}
.content {
    font-family: "仿宋";
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFFFF;
    text-shadow: 10px 10px 10px;
}


#logo {
    background-image: url(images/logo.png);
    width: 216px;
    height: 45px;
    left: 524px;
    top: 30px;
    position: absolute;
    color: #FFFFFF;
}
#maintain {
    position: absolute;
    left: 100px;
    top: 307px;
    width: 234px;
    overflow-y: auto;
    height: 292px;
    border-top: 5px solid #A00;
    border-left: 5px solid #a00;
}
#service {
    position: absolute;
    left: 503px;
    top: 307px;
    height: 298px;
    width: 234px;
    border-bottom: 5px solid #a00;
    border-right: 5px solid #a00;
}
